body {
  background: #181818;
}
.generator {
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.form-section {
  flex: 1 1 300px;
  background: #f9f9f9;
  max-width:400px;
  padding: 20px;
}

.form-section h3 {
  margin-top: 0;
  color: #333;
}

.form-row {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #948459;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #a49672;
  transition: all 0.2s ease-in;
}

.preview-section {
  flex: 1 1 700px;
  background: #f9f9f9;
  padding: 20px;
}

.preview-section h3 {
  margin-top: 0;
  color: #333;
}

.signature-preview {
  border: 1px dashed #ccc;
  margin: 15px 0;
  min-height: 200px;
  background: white;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}
